.articleCard {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 1em;
}

.articleCard figure {
  overflow: hidden;
}

.thumbnailWrapper {
  overflow: hidden;
  border-radius: 10px;
}

.thumbnail {
  order: 1;
  height: 0;
  padding-top: calc(3 / 4 * 100%);
  transform: translateZ(0);
  transition: transform 0.2s ease-in-out;
}

.hovered .thumbnail {
  transform: scale(1.02);
}

.contentWrapper {
  order: 2;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  order: 2;
  font-size: var(--font-size-h3);
}

.subtitle {
  order: 2;
  font-size: var(--font-size-h5);
  margin: 0 0 0.5em 0;
}
.description {
  order: 2;
  font-size: var(--font-size-small);
  position: relative;
  z-index: 2;
  margin: 0;
  padding-bottom: calc(var(--text-spacing) * 0.5);
}

.link {
  display: block;
  color: var(--color-offBlack);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  cursor: pointer;
  z-index: 2;
}

.articleCard h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.articleCard.articleInSeries h2{
  margin-bottom: 0;
}

.date {
  order: 1;
  display: block;
  color: var(--color-lightGrey);
  margin: 1rem 0 0.5rem;
  font-size: var(--font-size-small);
}

.articleCard p {
  color: var(--color-offBlack);
}

.tags {
  order: 3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  padding: 0;
  color: var(--color-offBlack);
  list-style-type: none;
}

.tags li {
  padding: 1px 5px;
  margin: calc(var(--text-spacing) * 0.5) calc(var(--text-spacing) * 0.5) 0 0;
  background: #eee;
  font-size: var(--font-size-small);
}

/* Empty Article */

.emptyThumbnail,
.emptyTitle,
.emptyDate,
.emptyDescription {
  background-color: #f6f6f6;
}

.emptyThumbnail {
  width: 100%;
  height: 0;
  padding-top: calc(3 / 4 * 100%);
  border-radius: 10px;
}

.emptyTitle {
  height: 30px;
  width: 75%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.emptyDate {
  height: 15px;
  width: 25%;
  margin-top: 0.5em;
}

.emptyDescription {
  height: 15px;
  width: 100%;
}