$primary: #07a90a;
$light: #fff;
$dark: rgb(2, 6, 23);
$gray: #afafaf;

$spacing-unit: 30px !default;
$table-text-align: left !default;
$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default;
