@charset "UTF-8";

@font-face {
  font-family: DM Sans;
  src: url("../assets/fonts/dm-sans-regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: La Nord;
  src: url("../assets/fonts/LaNord-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-family-body: "Dm Sans", Helvetica, Arial, "Helvetica Neue", sans-serif;
  --font-family-title: "La Nord", "Helvetica", "Arial", sans-serif;

  --color-offBlack: #222;
  --color-blue: #323BFF;
  --color-lightGrey: #888;
  --color-offWhite: #eee;

  --app-width: 1064px;
  --app-gutter: 15px;

  --base-font-size: 62.5%;
  
  --grid-gap: 20px;

  --text-link-color: var(--color-blue);
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: var(--color-offBlack);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  font-size: var(--base-font-size);
}

body {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-body);
  font-size: 1.6rem;
  line-height: 1.45;
  font-weight: 400;
}

a {
  color: var(--text-link-color);
}

p, ul, ol {
  margin-bottom: 1em;
}

li ul, li ol {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: var(--font-family-title);
  font-weight: 400;
  color: black;
}

h1, .h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  margin-top: 0;
  margin-bottom: 1.5em;
}
h2, .h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3, .h3 {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

.smallText {
  font-size: 1.4rem;
}

@media (min-width: 600px) {
  body {
    font-size: 1.8rem;
  }
  h1, .h1 {
    font-size: 4.6rem;
  }
  h2, .h2 {
    font-size: 3.2rem;
  }
  h3, .h3 {
    font-size: 2.4rem;
  }
  h4, .h4, h5, .h5, h6, .h6 {
    font-size: 2rem;
  }
  .smallText {
    font-size: 1.5rem;
  }
}

/* Focus styles are visible */
/* Apply focus styles only when keyboard is used */
a:focus-visible,
button:focus-visible {
  outline: 2px solid red; /* Customize your focus style */
  outline-offset: 2px;
}

/* Optional: Reset default focus styles to avoid double styling */


/* Table styles */

#article-content table {
  width: 100%;
  margin: 40px 0 20px 0;
  overflow: scroll;
  display: inline-block;
}

#article-content table tbody {
  display: table;
  width: 100%;
}

#article-content th {
  padding: 1em 0.5em;
  text-align: left;
  font-weight: normal;
  font-size: calc(12px + (22 - 12) * ((100vw - 320px) / (3200 - 320)));
  border-bottom: 1px solid #ccc;
}

#article-content td {
  padding: 1em 0.5em;
  text-align: left;
  font-size: calc(12px + (22 - 12) * ((100vw - 320px) / (3200 - 320)));
}

#article-content .tableBold {
  font-weight: 600 !important;
}

#article-content .tableTrShade { 
  background-color: #f6f6f6;
}

#article-content .tableFlag {
  height: 16px;
  margin-right: 6px;
  float: left;
}

@media (max-width: 600px) {
  #article-content .tableMobile {
    display: none;
  }
  #article-content .tableFlag {
    height: 10px;
    margin-right: 4px;
  }
}