.authorProfileSection {
  border-top: 1px solid var(--color-offWhite);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.authorHeading {
  margin: 20px 0;
}

.authorHeader {
  display: flex;
  flex-direction: column;
}

.authorNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authorAvatar {
  max-width: 90px;
  min-width: 90px;
  height: 90px;
  min-height: 90px;
  border-radius: 50%;
}

.authorDetails {
  display: flex;
  gap: 1.5rem;
}

.authorName {
  margin: 0;
}

.authorRole {
  margin: 0;
  font-size: var(--font-size-small);
}

.authorLocation {
  margin: 0;
  font-size: var(--font-size-small);
}

.descriptionBox {
  font-size: 16px;
  position: relative;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-offWhite);
  font-style: italic;
  margin-top: 16px;
}

.descriptionText {
  text-align: justify;
  margin: 0;
}

.authorContactInfo {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .descriptionBoxContainer {
    margin-left: 10.45rem;
  }

  .descriptionBox {
    margin-top: 0;
  }
}
