.title {
  margin-bottom: 0;
}
.subtitle {
  margin-bottom: 0;
  margin-top: 0;
  font-size: var(--font-size-h4);
}
.header {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--color-offWhite);
  max-width: 700px;
}
footer{
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid var(--color-offWhite);
}