.homepageHeader {
  margin-bottom: 6rem;
}

.title {
  font-size: var(--font-size-h2);
}

.title,
.description {
  margin: 0;
}

.placeholder {
  background: #f6f6f6;
  border: 1px solid var(--color-offWhite);
  height: 300px;
}
