.header {
  position: relative;
  margin-bottom: 3.5rem;
}

.header nav {
  padding: 0 var(--app-gutter);
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  height: 5.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.homeLink {
  display: flex;
  align-items: flex-end;
}
.homeLink:hover {
  text-decoration: none;
}

.title {
  color: var(--color-offBlack);
  position: relative;
  font-weight: bold;
  margin-left: 1rem;
}

@media (max-width: 320px) {
  .title {
    font-size: 1.4rem;
    margin-left: 0.5rem;
  }
}

.logo {
  width: 4em;
  margin-bottom: 0.25rem; /* Align bottom of logo to baseline of header text */
}

@media (min-width: 768px) {
  .logo {
    width: 5.5em;
  }
}

.header a {
  text-decoration: none;
  color: var(--color-offBlack);
}

.links {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}

.links li:not(:first-child) {
  margin-left: 2rem;
}

@media (max-width: 320px) {
  .links li:not(:first-child) {
    margin-left: 1rem;
  }
}

/* Skip link styles */
.skipLink {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
  font-size: var(--font-size-small);
} 

.skipLink:focus {
  top: 0;
}