.footer {
  border-top: 1px solid var(--color-offWhite);
  padding: 5vh 0;
  margin-top: 5vh;
  font-size: var(--font-size-small);
}
a{
  color: var(--color-offBlack);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.inner {
  padding: 0 var(--app-gutter);
  max-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.company {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.company li {
  margin-left: 1em;
  padding-left: 1em;
}
.logo{
  width: 3em;
  display: inline-block;
}
.socials {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.socials li {
  margin-left: 10px;
}