.authorSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.authorSection p {
  margin: 0;
}

.authorName {
  font-weight: bold;
}

.separator {
  margin: 0 7px;
  color: var(--color-lightGrey);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}