.authorProfileSection {
  padding: 10px;
}

.authorName {
  margin: 0;
}

.authorDetails {
  margin-bottom: 4px;
}

.authorHeader {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 10px;
}

.authorAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.authorRole {
  margin: 0;
  font-size: 16px;
}

.authorContactInfo {
  margin-top: 8px;
  padding: 0 64px;
}

/* .authorShortIntro {
  font-size: 14px;
  margin-top: 10px;
} */

.quoteBox {
  font-size: 16px;
  position: relative;
  margin: 0 auto;
  padding: 16px;
  width: 85%;
  border-radius: 8px;
  background-color: var(--color-offWhite);
  font-style: italic;
}

.quoteBox::after {
  content: "“"; /* Adds a stylized opening quote */
  position: absolute;
  font-size: 68px;
  color: var(--color-lightGrey);
  left: -15px;
  top: -20px;
  font-family: Georgia, serif;
  font-style: italic;
}

.quoteBox::before {
  content: "";
  position: absolute;
  left: -1rem;
  width: 0;
  top: 28px;
  z-index: 9999;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 20px solid var(--color-offWhite);
}

.quoteText {
  text-align: justify;
  margin: 0 auto;
}
